.App {
  overflow: hidden;
}

.transition-container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.background-transition--informal {
  animation: backgroundExpandInformal 0.8s forwards;
  animation-delay: 600ms;
}

.background-transition--formal {
  animation: backgroundExpandFormal 0.8s forwards;
  animation-delay: 600ms;
}

@keyframes backgroundExpandInformal {
  0% {
    background-color: #f87e58;
    clip-path: circle(0% at var(--posX, 5%) var(--posY, 20px));
  }
  100% {
    background-color: #f87e58;
    clip-path: circle(120% at var(--posX, 5%) var(--posY, 20px));
  }
}

@keyframes backgroundExpandFormal {
  0% {
    background-color: #e2e8f0;
    clip-path: circle(0% at var(--posX, 5%) var(--posY, 20px));
  }
  100% {
    background-color: #e2e8f0;
    clip-path: circle(120% at var(--posX, 5%) var(--posY, 20px));
  }
}

.scroll-container {
  max-height: calc(100vh - 215px); /* Adjust based on your header/footer height */
  overflow-y: auto;
}

/* Custom scrollbar styles */
.scroll-container::-webkit-scrollbar {
  width: 3px;
}

.scroll-container::-webkit-scrollbar-track {
  background: white;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #33918c;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox scrollbar styles */
.scroll-container {
  scrollbar-color: #888;
}

.wvs {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;

  letter-spacing: -2px;
}
